<section class="bg-main-light shadow p-2 my-2 rounded-4">
  <h1 class="h2 text-main">
    Register Now :
  </h1>
  <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
    <div class="my-2">
        <label for="name">Name</label>
        <input  formControlName="name" type="text" id="name" class="form-control">
        @if(registerForm.get('name')?.errors && registerForm.get('name')?.touched){
          <div class="alert alert-danger">
            @if(registerForm.get('name')?.getError('required')){
              <p>Name is Required</p>
            }
            @else if(registerForm.get('name')?.getError('minlength')){
              <p>Name is Shuold be more than 3 </p>
            }
            @else if(registerForm.get('name')?.getError('maxlength')){
              <p>Name is Shuold be less than 20 </p>
            }
          </div>
        }
    </div>
      <div class="my-2">
        <label for="email">Email</label>
        <input formControlName="email" type="email" id="email" class="form-control">
        @if(registerForm.get('email')?.errors && registerForm.get('email')?.touched){
          <div class="alert alert-danger">
            @if(registerForm.get('email')?.getError('required')){
              <p>Email is Required</p>
            }
            @else if(registerForm.get('email')?.getError('email')){
              <p>Email is not valid </p>
            }
          </div>
        }
      </div>
      <div class="my-2">
        <label for="phone">Phone</label>
        <input formControlName="phone" type="tel" id="phone" class="form-control">
        @if(registerForm.get('phone')?.errors && registerForm.get('phone')?.touched){
          <div class="alert alert-danger">
            @if(registerForm.get('phone')?.getError('required')){
              <p>Phone is Required</p>
            }
            @else if(registerForm.get('phone')?.getError('pattern')){
              <p>Phone is not valid </p>
            }
          </div>
        }
    </div>
        <div class="my-2">
          <label for="password">Password</label>
          <input formControlName="password" type="password" id="password" class="form-control">
          @if(registerForm.get('password')?.errors && registerForm.get('password')?.touched){
            <div class="alert alert-danger">
              @if(registerForm.get('password')?.getError('required')){
                <p>Password is Required</p>
              }
              @else if(registerForm.get('password')?.getError('minlength')){
                <p>Password is Shuold be more than 6 </p>
              }
              @else if(registerForm.get('password')?.getError('maxlength')){
                <p>Password is Shuold be less than 20 </p>
              }
            </div>
          }
      </div>
      <div class="my-2">
        <label for="rePassword">Re-Password</label>
        <input formControlName="rePassword" type="password" id="rePassword" class="form-control">
        @if(registerForm.getError('mismatch') && registerForm.get('rePassword')?.touched){
          <div class="alert alert-danger">
            <p>Passwords are not matched</p>
          </div>
        }

      </div>
      <button [disabled]="registerForm.invalid || isLoad" class="btn-main ms-auto d-block">Register

        @if (isLoad) {

          <i class="fa fa-spin fa-spinner"></i>
        }
      </button>
      @if (msgError) {

        <p class="alert alert-danger w-50 m-50">{{msgError}}</p>

      }
  </form>
</section>
