<section>
  @if (step === 1) {

    <h1 class="text-center text-main my-2">Forgot Password</h1>
    <form [formGroup]="verifyEmail" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="sendEmail()">
      <div class="my-2">
        <label for="email">Email</label>
        <input formControlName="email" id="email" type="email" class="form-control">
      </div>
      <button [disabled]="verifyEmail.invalid" class="btn-main">Verify Email</button>
    </form>
  }@else if (step ===2 ) {

    <form [formGroup]="verifyCode" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="sendCode()">
      <div class="my-2">
        <label for="resetCode">Reset Code</label>
        <input formControlName="resetCode" id="resetCode" type="resetCode" class="form-control">
      </div>
      <button [disabled]="verifyCode.invalid" class="btn-main">Verify Code</button>
    </form>

  }@else if (step ===3 ) {

    <form [formGroup]="resetPassword" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="resetPass()">
      <div class="my-2">
        <label for="email">Email</label>
        <input formControlName="email" id="email" type="email" class="form-control">
      </div>
      <div class="my-2">
        <label for="resetPassword">New password</label>
        <input formControlName="newpassword" id="newpassword" type="newpassword" class="form-control">
      </div>
      <button [disabled]="resetPassword.invalid" class="btn-main">New password</button>
    </form>


  }







</section>
